*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zoom-container{
    margin: 0 auto;
    width: 1500px;
    height: 1000px;
    background-color: black;
    display: flex;
}

.options{
    display: flex;
}

.nav{
    width: 200px;
    height: 100px;
    background-color: gray;
    align-self: flex-end;
    align-items: center;
}

.nav-center{
    width: 1100px;
}