*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 1500px;
    height: 100px;
    background-color:black ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main{
    width: 1500px;
    height: 600px;
    background-color: black;
    display: flex;
    align-items: center;
}

.container-middle{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 1400px;
    height: 400px;
}

.pinco{
    background-color: rgba(12, 7, 7, 0.2);
    color: white;
    bottom: 0;
    left: 0;
    font-size: 12px;
}

.user{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
}


.user{
    width: 200px;
    height: 80px;
    background-image: url(img/windows_xp_bliss-wide1.jpg);
    background-size: cover;
    border: 1px black solid;
    padding: 5px;
}

footer{
    width: 1500px;
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonv1{
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 14px 20px;
    cursor: pointer;
}

.buttonfoot{
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}

.fa-share-square{
    color: green;
}


.center{
    padding: 30px;
}

.end{
    color: red;
}

.buttonfoot:hover{
    border: 1px black solid;
}

